
body{
    background-image: url(../img/bgimagecitylights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#aboutushdr{
    color: white;
}


#hdrnav{
    float: right; 
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 3px 8px #000;  /* Create a static shadow on the element */
    transition: all;
}

a:hover{
   box-shadow: 0px 8px 30px;   /* Create a shadow effect when element is hovered over */
}


 #htlreserve{
    text-align: center;
    width: 200px;
    color: white;
    border: 1px solid yellow;
    border-radius: 13px;
    justify-content: center; 
}

#pagetitle{
    display: grid;
    place-items: center;
}


#hotelname{
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    border: 2px solid blue;
    border-radius: 10px;
    color: white; 
    height: 100px;
}

#hotellogo{
    display: flex;
    justify-content: space-between;
}

#bluatlbldgpic{
    margin-left: 10px;
    border: 2px solid lightblue;
    border-radius: 15px;
    justify-content: space-around;
    float: left;
}

.hospitalitytext{
    font-family: "Tangerine", cursive;
    font-size: 30px;
    float: right;
    color: white;
    border: 1px solid red;
    border-radius: 15px;
    text-align: center;
}

#bluatlsubname{
    float: right;
}



.aboutuscontent{
    display: flex;
    overflow: auto; /*This enables scrool of content if needed */
}

#introid, #restaurantid{
    background-color: blue;
    border: 1px solid yellow;
    border-radius: 15px;
    color: white;
    margin-right: 12px;
}

#restaurantcaption{
    color: white;
}


/*Aside Element animation */
/* The code below executes the 3D spinner defined in the html paragraph*/
  .hospitalitytext{
      animation-name: rotatinglaptopgraphic;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 10s;   /* <= This controls the animation speed. */
      transform-style: preserve-3d;
    }

    /* WebKit and Opera browsers */
    @-webkit-keyframes rotatinglaptopgraphic {
      from { -webkit-transform: rotateY(0deg);
      }
      to   { -webkit-transform: rotateY(-360deg);}
    }
    
    /* all other browsers */
    @keyframes rotatinglaptopgraphic {
      from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
      to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
      }
    }
/*ANIMATION CSS END HERE */





